.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primary-text-color: #212121;
  --active-color: #2196f3;
  --accent-color-logo: #2196f3;
  --bg-hero-btn: #2196f3;
  --color-logo-text: #000000;
  --secondary-text-color: #757575;
  --bg-section: #2f303a;
  --light-text-color: #ffffff;
  --light-bg-color: #ffffff;
  --secondary-light-bg: #f5f4fa;
  --bg-color-btn: #f5f4fa;
  --border-header-line: #ececec;
  --light-border-line: #cccccc;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  min-width: 480px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon, .mobile-menu__close-btn:focus .mobile-menu__close-icon, .mobile-menu__close-btn:active .mobile-menu__close-icon {
    fill: var(--active-color);
  }
  .mobile-menu__close-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .site-nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .site-nav__item .link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .link.site-nav_active {
    color: #2196f3;
  }
  .auth-nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }
  .auth-nav-mobile__item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  .auth-nav-mobile__item .link {
    color: #757575;
  }
  .menu-footer {
    margin-top: auto;
  }
  .menu-footer-social {
    display: flex;
    gap: 10px;
  }
  .menu-footer-social__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
  .menu-footer-social__item .link {
    color: #2196f3;
  }
  .menu-footer-social__item:not(:last-child) .link {
    margin-right: 10px;
  }
  .menu-footer-social__item:not(:last-child)::after {
    content: "";
    height: 22px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .auth-nav-mobile__item_active {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  .auth-nav-mobile__item_active .link {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #2196f3;
}

.modal-form__btn {
  padding: 10px 52px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background: #188ce8;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .auth-nav {
    display: none;
  }
  .menu-open-btn-mobile {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
  .menu-open-btn-mobile__icon {
    width: 40px;
    height: 40px;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header {
    padding: 16px 0;
  }
}

.header-portfolio {
  border-bottom: 1px solid var(--border-header-line);
}

@media screen and (min-width: 768px) {
  .menu-open-btn-mobile {
    display: none;
  }
  .logo-text {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  .logo-text__header {
    margin-right: 87px;
  }
  .site-nav {
    display: flex;
    column-gap: 50px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .site-nav__item .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .auth-nav {
    margin-left: auto;
  }
  .auth-nav__item .link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .auth-nav__icon-letter {
    fill: currentColor;
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  .auth-nav__icon-smartphone {
    fill: currentColor;
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .auth-nav .link:hover,
  .auth-nav .link:focus {
    color: var(--active-color);
  }
  .site-nav .site-nav_active.link {
    color: var(--active-color);
  }
  .site-nav.list .site-nav__item {
    position: relative;
  }
  .link.site-nav_active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color-logo);
    border-radius: 2px;
  }
  .site-nav .link {
    display: block;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: var(--active-color);
  }
}

@media screen and (min-width: 1200px) {
  .logo-text {
    font-size: 26px;
    line-height: 1.19;
  }
  .logo-text__header {
    margin-right: 92px;
  }
  .auth-nav {
    display: flex;
    align-items: center;
  }
  .auth-nav__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.logo-text {
  color: var(--color-logo-text);
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.logo-text.link {
  display: block;
}

.logo-text .logo {
  color: var(--accent-color-logo);
}

.logo-text_light {
  color: var(--light-text-color);
}

.logo-footer {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .logo-text {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer {
  padding: 60px 0;
  background-color: var(--bg-section);
}

.container-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container-block {
    padding-left: 61px;
    padding-right: 74px;
  }
  .container-block__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .container-block__footer .container-left,
  .container-block__footer .footer-social {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container-block {
    flex-direction: row;
    align-items: baseline;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
  .container-block__footer {
    margin-bottom: 0;
    margin-right: 93px;
    align-items: baseline;
  }
}

.footer-form-block {
  width: 100%;
}

.footer-form-block__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form__modal {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--light-bg-color);
}

.footer-form__modal::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin-right: 10px;
  letter-spacing: 0.06em;
  color: var(--light-text-color);
}

.footer-form__label {
  width: 100%;
  margin-bottom: 20px;
}

.footer-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px 28px;
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-form__label {
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__item_bg-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__item_bg-link:hover, .social-links__item_bg-link:focus {
  background-color: var(--active-color);
  fill: var(--light-bg-color);
}

.footer-block__links_bg-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-block__links_bg-link:hover, .footer-block__links_bg-link:focus {
  background-color: var(--active-color);
  fill: var(--light-bg-color);
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 450px;
  min-height: 609px;
  left: 50%;
  top: 50%;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--active-color);
  outline: none;
}

.modal-form__label {
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.modal-form__label:last-child {
  margin-bottom: 20px;
}

.textarea-label {
  margin-bottom: 20px;
}

.text-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

.doc-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
  .modal__form-title {
    line-height: 1.15;
  }
  .text-agreement,
  .doc-agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__wrapper {
  position: relative;
  display: block;
}

.icon-user {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .icon-user {
  fill: var(--active-color);
}

.modal-form__name {
  display: block;
  margin-bottom: 4px;
}

.modal-form__comment {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:focus {
  outline: none;
  border-color: var(--active-color);
}

.modal-icon-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

.modal-form__check--input:focus + .modal-icon-checkbox {
  box-shadow: 0 0 0 1px #2196f3;
}

.modal-form__check--input:checked + .modal-icon-checkbox {
  background-color: var(--active-color);
  border-color: var(--active-color);
  border: none;
}

.modal-checkbox {
  display: none;
  fill: var(--light-bg-color);
  width: 11px;
  height: 8px;
}

.modal-form__check--input:checked + .modal-icon-checkbox .modal-checkbox {
  display: block;
}

.modal-form__check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 15px;
  margin-bottom: 40px;
}

.filters__btn {
  display: block;
  padding: 6px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: "Roboto";
  font-style: normal;
  background: var(--bg-color-btn);
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn:hover, .filters__btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--light-text-color);
  background: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.filters .filters__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .filters {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 48px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.section-team {
  background-color: var(--secondary-light-bg);
}

.project-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}

.team-block__card {
  background-color: var(--light-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-block__card:not(:last-child) {
  margin-bottom: 30px;
}

.team-block__photo {
  width: 100%;
  height: auto;
}

.team-details {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team-details__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-details__technician {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .team-block {
    display: flex;
    flex-wrap: wrap;
  }
  .team-block__card {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .team-block__card:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-block {
    flex-wrap: nowrap;
  }
  .team-block__card {
    margin-bottom: 0;
  }
  .team-block__card:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.section-block {
  min-height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 118px 0;
  text-align: center;
}

.hero {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 30px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-block {
    background-image: url("../images/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .section-block {
    background-image: url("../images/hero-tablet.jpg");
    padding: 118px 0;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-block {
    background-image: url("../images/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-block {
    padding: 200px 0;
    background-image: url("../images/hero-desktop.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section-block {
    background-image: url("../images/hero-desktop@2x.jpg");
  }
}

.hero__btn {
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  letter-spacing: 0.06em;
  background: var(--bg-hero-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--light-text-color);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.portfolio-list__card {
  width: 100%;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-list__card > .portfolio-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__card > .portfolio-list__link:hover, .portfolio-list__card > .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.slide-container {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__card .portfolio-list__link:hover .card-overlay,
.portfolio-list__card .portfolio-list__link:focus .card-overlay {
  transform: translateY(0);
  opacity: 1;
}

.text-overlay {
  position: absolute;
  top: 0;
  padding: 77px 24px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--light-text-color);
  opacity: 0;
  letter-spacing: 0.03em;
}

.portfolio-list__card .portfolio-list__link:hover .text-overlay,
.portfolio-list__card .portfolio-list__link:focus .text-overlay {
  opacity: 1;
}

.portfolio-site {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio-list__card {
    width: calc((100% - 30px) / 2);
  }
  .text-overlay {
    padding-top: 49px;
    padding-bottom: 77px;
  }
  .portfolio-list__link.link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .portfolio-site {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__card {
    display: block;
    width: calc((100% - 60px) / 3);
  }
  .text-overlay {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.clients-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.company-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-img:hover, .company-img:focus {
  border-color: var(--accent-color-logo);
}

.clients-block__page {
  width: calc((100% - 30px) / 2);
}

.logo-comp {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-img:hover .logo-comp,
.company-img:focus .logo-comp {
  fill: var(--active-color);
}

@media screen and (min-width: 768px) {
  .clients-block__page {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-block {
    flex-wrap: nowrap;
  }
}

.properties__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.properties__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.container-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.top-icon {
  width: 70px;
  height: 70px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .properties {
    display: flex;
    flex-wrap: wrap;
  }
  .properties__item {
    width: calc((100% - 30px) / 2);
  }
  .properties__item:nth-child(odd) {
    margin-right: 30px;
  }
  .properties__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .properties__item {
    width: calc((100% - 90px) / 4);
  }
  .properties__item:not(:last-child) {
    margin-right: 30px;
  }
  .properties__text {
    margin-bottom: 0;
  }
}

.section-project {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-project {
    display: block;
    padding-top: 0;
  }
  .project-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  .project-works {
    display: flex;
  }
  .project-works__item:not(:last-child) {
    margin-right: 30px;
  }
  .project-works__item--examples {
    position: relative;
    z-index: -1;
  }
  .example {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
  }
  .example__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--light-text-color);
  }
  .project-works__img {
    width: 370px;
    height: 294px;
  }
}

.footer-social {
  margin-bottom: 60px;
}

.footer-social__strong {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 20px;
}

.footer-block {
  display: flex;
  column-gap: 10px;
}

.footer-link {
  fill: var(--light-text-color);
}

.container-left {
  margin-bottom: 60px;
}

.location {
  line-height: 1.71;
  font-style: normal;
  color: var(--light-text-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address .link:hover,
.address .link:focus {
  color: var(--active-color);
}

.footer-contact {
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main.css.map */