.hero__btn {
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  letter-spacing: 0.06em;
  background: var(--bg-hero-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--light-text-color);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}
