.section-project {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-project {
    display: block;
    padding-top: 0;
  }
  .project-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  .project-works {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
  .project-works__item--examples {
    position: relative;
    z-index: -1;
  }
  .example {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
  }
  .example__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--light-text-color);
  }
  .project-works__img {
    width: 370px;
    height: 294px;
  }
}
