html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  min-width: 480px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
