:root {
    --primary-text-color: #212121;
    --active-color: #2196f3;
    --accent-color-logo: #2196f3;
    --bg-hero-btn: #2196f3;
    --color-logo-text: #000000;
    --secondary-text-color: #757575;
    --bg-section: #2f303a;
    --light-text-color: #ffffff;
    --light-bg-color: #ffffff;
    --secondary-light-bg: #f5f4fa;
    --bg-color-btn: #f5f4fa;
    --border-header-line: #ececec;
    --light-border-line: #cccccc;
  }